.wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.645);

    .movie-details {
        display: flex;

        img {
            width: 25vw;
            height: 70vh;
        }

        &-info {
            width: 35vw;
            background-color: rgb(237, 229, 229);
            padding: 0 2em;
            position: relative;

            &-close {
                font-size: 1.3em;
                text-align: right;
                margin-top: .5em;
                cursor: pointer;
            }

            &-title {
                text-align: center;
            }

            &-date {
                margin-top: .5em;
                text-align: center;
            }

            &-overview {
                text-align: justify;
                margin: 1em 0;
            }

            &-buttons {
                position: absolute;
                bottom: 1em;
                display: flex;
                gap: .5em;
            }
        }

    }
}