.custom-select-comics {
    display: flex;
    gap: .5em;

    select {
        border: 1px solid rebeccapurple;
        border-radius: 2em;
        text-align: center;
        background-color: white;
        width: 4em;
    }
}