.search-bar {
    margin-top: 2em;
    align-self: center;

    &-field {
        border: 1px solid rebeccapurple;
        padding: 1em;
        width: 20vw;
        border-radius: 1em;
    }

    &-field:focus {
        outline: none;
    }

    &-submit {
        border: 1px solid rebeccapurple;
        background-color: rebeccapurple;
        color: white;
        padding: 1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        margin-left: -3em;
        
    }
}