.custom-rating {
    display: flex;
    align-items: center;

    &-star {
        width: 2em;
        height: 2em;
    }

    .filled {
        fill: orange;
    }

    .active:hover {
        fill: orange;
    }

}
